# Force CPU-only versions to save space
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# --- THE FIX: ADD THIS LINE ---
faiss-cpu
# ------------------------------

# Core Frameworks
streamlit
fastapi
pandas
numpy
pydantic
scikit-learn
scipy
altair
absl-py
uv

# LangChain & AI Engine
groq
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite
sentence-transformers

# Compatibility
tf-keras