absl-py
altair
fastapi
groq
numpy
pandas
pydantic
scikit-learn
scipy
streamlit
tensorflow
uv
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers