name: CI/CD Build and Push

on:
  push:
    branches: [ "main" ] # Runs every time you push to main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 
          lfs: true      

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ahtishamijaz55/agent-app:latest

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Logic: Set Git identity so the runner can "sign" the push
          git config --global user.email "ahtishamijaz55@example.com"
          git config --global user.name "shamiimuhammad"
          
          # Logic: Add Hugging Face as a secondary remote
          git remote add hf https://shamiimuhammad:$HF_TOKEN@huggingface.co/spaces/shamiimuhammad/agentic-flow-app
          
          # Logic: Force push to sync the GitHub main branch with Hugging Face Space
          git push --force hf main